#myProgress {
    width: 100%;
    background-color: #ddd;
    border: solid white;
    border-width: thick;
    outline: solid black;
  }
  
  #myBar {
    width: 10%;
    height: 30px;
    background-color:dodgerblue;
  }
  .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1.4rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }
  .btn-success {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745
  }
  .btn-success:hover {
      transform: scale(1.4);
      transition:cubic-bezier();
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34
  }
  .percentage{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
  }
  .heading{
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 4rem;
  }