#myProgress {
    width: 100%;
    background-color: #ddd;
    border: solid white;
    border-width: thick;
    outline: solid black;
    color: ;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-image: linear-gradient(to right,cornflowerblue,blue,darkblue);
  }
  .btn {
      display: inline-block;
      font-weight: 400;
      color: #212529;
      text-align: center;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      background-color: transparent;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1.4rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
  }
  .btn-success {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745
  }
  .btn-success:hover {
      transform: scale(1.4);
      transition:cubic-bezier();
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34
  }
  .percentage{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 2rem;
  }
  .heading{
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 4rem;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width:576px) {
    .container{
        max-width: 540px
    }
}
@media (min-width:768px) {
    .container{
        max-width: 720px
    }
}
@media (min-width:992px) {
    .container{
        max-width: 960px
    }
}
@media (min-width:1200px) {
    .container{
        max-width: 1140px
    }
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px
}

.no-gutters > .col,
.no-gutters > [class*=col-] {
    padding-right: 0;
    padding-left: 0
}
.col,.col-sm{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}
@media (min-width:576px) {
  .col-sm {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      -ms-flex-positive: 1;
      flex-grow: 1;
      max-width: 100%
  }
}
.dot {
  position: relative;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  height: 50px;
  width: 50px;
  background-color: #bbb;
  border: solid 2px;
  border-radius: 50%;
  display: inline-block;
}
.dot:hover{
  transform: scale(1.2);
  background-color: yellowgreen !important;
}
.per{
  font-weight: 900 !important;
  font-size: 1rem !important;
  position: relative;
}
html{
  overflow-x: hidden;
}
body{
  background-image: url("bg.jpg");
  background-size: auto;
}